@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  height: 100%;
  margin: 0;
  background-image: url(./images/download.png);
  font-family: sans-serif;
  /* background-size: cover; */
  background-repeat: no-repeat;
  overflow-x: hidden;
}
  section:target {
    display: block;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
    @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
#HomePage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  width: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 40% 0% 40%;
  color: white;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px -2px rgb(0 0 0 /50%);
}
.name_strong {
  color: rgb(148, 30, 14);
}
#name {
  font-size: 45px;
  letter-spacing: 1px;
  transform: translateY(-500%);
  animation: slideIn 2s forwards;
}
#position {
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 1px;
  transform: translateY(-500%);
  animation: slideIn 2s forwards;
}
@keyframes slideIn {
  from {
    transform: translateY(-250%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
  from {
    transform: translateY(-150%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fas {
  color: white;
  font-size: small;
  transition: transform 0.3s;
}
.down {
  border: 2px solid white;
  padding: 13px;
  text-align: center;
  width: 180px;
  text-decoration: none;
  text-shadow: none;
  color: white;
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-style: normal;
  transition: background-color 0.3s;
  transform: translateY(150%);
  animation: slideUp 2s forwards;
}
.down:hover {
  background-color: #0c959a;
  border-color: #0c959a;
}
.down:hover .fas {
  transform: rotate(90deg);
}
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #1b242f;
  border-bottom: 3px solid #04c2c9;
  text-align: left;
  height: 55px;
  width: 100%;
  z-index: 99;
}
.navHead {
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 50px;
  position: relative;
  left: 330px;
}
.navItems {
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: color 0.3s;
}
.navItems:target,
.navItems:hover {
  color: red;
  text-shadow: 0px 2px 8px #000000;
}
#about {
  height: 100%;
  overflow: hidden;
}
#about-flex {
  display: grid;
  place-items: center;
  margin-top: 80px;
  height: 100%;
}
.about-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(0 0 0 /70%);
  width: 90px;
  height: 70px;
  border-bottom: 4px solid black;
}
.logo-container {
  margin-top: 30px;
  width: 100%;
}
.logo-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 50px;
  width: 250px;
  position: relative;
  left: 380px;
}
.logo_and_name {
  width: 300px;
  height: 100%;
  display: grid;
  place-items: center;
}
.hexagon {
  width: 125px;
  height: 125px;
  background-color: #04c2c9;
  margin: 27.5px 0;
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.hexagon > i {
  color: white;
  font-size: 30px;
}
.skill-name {
  color: rgb(0 0 0 /60%);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 200px;
  text-align: center;
  position: relative;
  bottom: 40px;
}
.skill-par {
  width: 250px;
  text-align: center;
  color: rgb(0 0 0 /60%);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  position: relative;
  bottom: 70px;
}
#photo_skillbar {
  display: flex;
  flex-direction: row;
  gap: 150px;
  padding: 0px 500px;
}
.my_photo {
  width: 300px;
  text-align: center;
}
.me {
  position: relative;
  bottom: 50px;
  height: 280px;
  width: 280px;
  object-fit: cover;
  margin: 27.5px 0;
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
}
.photo_par {
  position: relative;
  bottom: 100px;
  right: 22px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  width: 350px;
  color: rgb(0 0 0 /70%);
}
.myself_par {
  position: relative;
  bottom: 10px;
  text-align: center;
  font-size: 17px;
}
a {
  text-decoration: none;
  color: rgb(4 192 201/90%);
}
.skillbar_container {
  width: 80%;
  max-width: 600px;
  position: relative;
  bottom: 50px;
}
.skillName {
  margin-bottom: 20px;
  height: 10px;
}
.skill_label {
  background-color: #04c2c9;
  width: 100px;
  height: 25px;
  text-align: center;
  display: block;
  padding: 5px 0px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  position: relative;
  top: 30px;
  color: white;
}
.skill_bar {
  background-color: rgba(0 0 0 / 10%);
  overflow: hidden;
  height: 25px;
}
.skill_level {
  height: 25px;
  background-color: #1b9b9f;
  transition: width 0.5s ease-in-out;
}
#portfolio {
  height: 100%;
  overflow: hidden;
  background-color: rgba(0 0 0/ 5%);
}
#port_flex {
  display: grid;
  place-items: center;
  margin-top: 80px;
  height: 100%;
}
.port_head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(0 0 0 /70%);
  width: 90px;
  height: 70px;
  border-bottom: 4px solid black;
}
.projects_container {
  max-width: 100%;
  height: 1050px;
  margin-top: 20px;
  text-align: center;
}
.projects_container input[type="radio"] {
  display: none;
}
.projects_container label {
  display: inline-block;
  margin: 75px;
  padding: 5px 25px;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: rgb(0 0 0 /70%);
  cursor: pointer;
  transition: background-color 0.3s;
}
.projects_container label:hover {
  background-color: rgb(138, 12, 69);
  color: white;
}
.works {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-auto-rows: 350px;
  justify-content: center;
  margin-top: 10px;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.work {
  display: block;
  border: none;
}
.work img {
  width: 450px;
  height: 350px;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
#all:checked ~ .works .work {
  display: block;
  animation: fadeIn 0.3s ease-in-out forwards;
}
#html:checked ~ .works .work {
  display: none;
  animation: fadeOut 0.3s ease-in-out forwards;
}
#html:checked ~ .works .html {
  display: block;
  animation: fadeIn 0.3s ease-in-out forwards;
}
#js:checked ~ .works .work {
  display: none;
  animation: fadeOut 0.3s ease-in-out forwards;
}
#js:checked ~ .works .js {
  display: block;
  animation: fadeIn 0.3s ease-in-out forwards;
}
#contact {
  height: 100%;
  overflow: hidden;
  /* height: 950px; */
  background-color: #252934;
  margin-top: 100px;
}
.top {
	width: 0;
	height: 0;
	border-left: 950px solid transparent;
	border-right: 950px solid transparent;
	border-top: 80px solid #fffcfc;
}

.contact-container {
  padding: 20px;
 display: grid;
 place-items: center;
}
#contact-flex {
  display: grid;
  place-items: center;
  height: 100px;
  margin-top: 50px;
}
.contact-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
  width: 90px;
  height: 70px;
  border-bottom: 4px solid white;
  background-color: none;
}
.contact-par{
display: flex;
justify-content: center;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #10f7ff;
  font-size: 18px;
}
.input-form{
  width: 100%;
  display: grid;
  gap: 5px;
width: 500px;
}
input{
height: 30px;
text-align: left;
padding: 5px;
background-color: #1E242C;
border: none;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: white;
}
input::placeholder {
  color: white;
  opacity: 1;
}
input:focus {
  outline: none;
  border: none;
}
textarea{
height: 95px;
padding: 5px;
background-color: #1E242C;
border: none;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: white;
}
textarea::placeholder{
  color: white;
  opacity: 1;
}
textarea:focus {
  outline: none;
  border: none;
}
.button-container{
margin-top: 5px;
display: flex;
justify-content: right;
}
.form-button{
  border: 2px solid white;
  padding: 5px 2px;
  text-align: center;
  width: 100px;
  text-decoration: none;
  text-shadow: none;
  color: white;
  /* background-color:#1E242C ; */
  font-family: "Julius Sans One", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  transition: background-color 0.3s;
  margin-bottom: 100px;
}
.form-button:hover {
  background-color: #0c959a;
  border-color: #0c959a;
}
.icons{
height: 200px;
display: flex;
justify-content: center;
align-items: center;
background-color: #1B242F;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background-color:rgba(0 0 0 / 80%) ;
    /* border: 2px solid #060505; */
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
}
.icon i{
font-size: 20px;
}
.linkedin {
    color: #0077b5;
}

.facebook {
color: #3b5998;
}

.github {
    color: rgba(255 255 255 / 40%);
}
.instagram{
color:  #e4405f;
} 

.icon.linkedin:hover{
    background-color: #0077b5;
    color: white;
}
.icon.facebook:hover{
background-color: #3b5998;
color: white;
}
.icon.github:hover{
 background-color: #333;
 color: white;
}
.icon.instagram:hover{
 background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 40%, #d6249f 50%, #285aeb 80%);
 color: white;
}
.up-arrow{
position: relative;
    bottom: 100px;
    left: 110px;
    filter: brightness(0.8);
}
.up-arrow:hover{
filter: brightness(1.3);
}
.copyright{
  font-family: "Julius Sans One", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(255 255 255 /70%);
  font-size: 10px;
  position: relative;
  top: 55px;
  right: 130px;
}
#copy-logo{
color: red;
font-weight: 500;
}